{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form class="my-5" method="post" action="{% url 'add' %}">
  {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Type a note</label>
      <input
        type="text"
        name="note"
        class="form-control col-md-6"
        id="exampleInputEmail1"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h1 class="my-4">Your todos</h1>

<div class="container">
  <div class="row">
    {% for list in lists %}
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Note {{forloop.counter}}:</h5>
        <p class="card-text">{{list.description}}</p>
        <form method="post">
          {% csrf_token %}
          <a href="{% url 'update' list.id %}" class="btn btn-primary">Update</a>
          <a href="{% url 'delete' list.id %}" class="btn btn-danger">Delete</a>
        </form>
      </div>
    </div>
    </div>
      {% if forloop.counter|divisibleby:3 %}
            </div><div class="row my-2">
      {% endif %}
    {% endfor %}
</div>

{% endblock content %}
